
body {
    background-color: yellow;
    text-align: center;
    
    
    
}

h1 {
    color: black;
    text-align: center;
    
}

    
    
#triangle {
    margin: 15px auto;
    width: 0;
    height:0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 150px solid blue;
       text-emphasis-position: below;
    color: black;
}

#square {
    margin: 20px auto;
    height:150px;
    width: 150px;
    background-color: red;
    text-align: center;
    padding: inherit;
    color: white;
}

#rectangle {
    margin: 20px auto;
    
    height:100px;
    width: 150px;
    background-color: purple;
    text-align: center;
    color: white;
}

#circle {
    
    margin: 20px auto;    
    width: 100px;
    height:100px;
    background: grey;
    -moz-border-radius:50px;
     -webkit-border-radius:50px;
    border-radius: 50px;
    text-align: center;
    color: white;
}

#parallelogram {
    margin: 20px auto;
    width: 200px;
    height:100px;
    -webkit-transform:skew(20deg);
    -moz-transform:skew(20deg);
     -0-transform:skew(20deg);
      background: green;
    color: aliceblue
}

#trapezium {
  margin: 20px auto;
  width: 150;
    height:0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 150px solid white;
    text-emphasis-position: below;
    color: black;
    shape-margin: 2px;
    
}

#star {
    
    margin: 20px auto;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 150px solid black;
    position: relative;
}

#star:after {
    margin: 20px auto;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 150px solid black;
    position: absolute;
    content: "";
     top: 40px;
    left: -100px;
}
    
